<div class="container">
  <%= simple_form_for @cocktail do |f| %>
    <% if @cocktail.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @cocktail.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :name %>
    <%= f.input :image %>
    <%= f.input :image_cache, as: :hidden %>




    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
</div>
